<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>

<body>
  <div class="login">
    <h1>German Credit Risk Prediction</h1>

    <!-- Outputs Prediction Text (this is set in predict route, empty in home route) -->
    <div id="goodPredictionText">{{ good_prediction_text }}</div>
    <div id="badPredictionText">{{ bad_prediction_text }}</div>

      <!-- Main Input For Receiving Query to our ML -->
      <form action="{{ url_for('predict')}}"method="post">
        
        <!-- Dropdown menu for selecting the classifier type -->
        <p>Classifier ML Model Type</p>
        <select name="selected_cls" required="required">
          <option value="Logistic Regression">Logistic Regression</option>
          <option value="Random Forest">Random Forest</option>
          <option value="Neural Network">Neural Network</option>
        </select>

        <!-- Dropdown menu for selecting the model -->
        <p>Purpose of the Loan</p>
        <select name="selected_model" required="required">
          {% for model in models %}
            <option value="{{ model }}">{{ model }}</option>
          {% endfor %}
        </select>

        <p>Status checking account (0-3)</p>
        <input type="text" name="Status checking" placeholder="Status checking" required="required" />
        <p>Duration in month</p>
        <input type="text" name="Duration in month" placeholder="Duration in month" required="required" />
        <p>Credit history (0-4)</p>
        <input type="text" name="Credit history" placeholder="Credit history" required="required" />
        <p>Credit amount</p>
        <input type="text" name="Credit amount" placeholder="Credit amount" required="required" />
        <p>Savings account (0-4)</p>
        <input type="text" name="Savings account" placeholder="Savings account" required="required" />
        <p>Present employment (0-4)</p>
        <input type="text" name="Present employment" placeholder="Present employment" required="required" />
        <p>Installment rate %</p>
        <input type="text" name="Installment rate %" placeholder="Installment rate %" required="required" />
        <p>Other debtors (0-2)</p>
        <input type="text" name="Other debtors" placeholder="Other debtors" required="required" />
        <p>Present residence since </p>
        <input type="text" name="Present residence" placeholder="Present residence" required="required" />
        <p>Property (0-3)</p>
        <input type="text" name="Property" placeholder="Property" required="required" />
        <p>Age in years</p>
        <input type="text" name="Age in years" placeholder="Age in years" required="required" />
        <p>Other installment plans  (0-2)</p>
        <input type="text" name="Other installment plans" placeholder="Other installment plans" required="required" />
        <p>Housing (0-2)</p>
        <input type="text" name="Housing" placeholder="Housing" required="required" />
        <p># Existing credits</p>
        <input type="text" name="# Existing credits" placeholder="# Existing credits" required="required" />
        <p>Job (0-3)</p>
        <input type="text" name="Job" placeholder="Job" required="required" />
        <p># Dependents</p>
        <input type="text" name="# Dependents" placeholder="# Dependents" required="required" />
        <p>Telephone (1 if you have one, else 0)</p>
        <input type="text" name="Telephone" placeholder="Telephone" required="required" />
        <p>Foreign worker (1 if applies to you, else 0)</p>
        <input type="text" name="Foreign worker" placeholder="Foreign worker" required="required" />

        <!-- Dropdown menu for selecting sex/relationship status -->
        <p>Sex and Relationship Status</p>
        <select name="Sex and Relationship Status" required="required">
          <option value="Male div">Male Divorced</option>
          <option value="Female div/mar">Female Divorced/Married</option>
          <option value="Male sing">Male Single</option>
          <option value="Male mar/wid">Male Married/Widowed</option>
        </select>

        <!-- Button to generate random input -->
        <p>Generate Random Input</p>
        <button type="button" onclick="generateRandomInput()">Generate Random Input</button>
      
        <!-- Button to submit input and get prediction -->
        <p>Make Prediction</p>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
      </form>
    <br>
    <br>
    
  </div>

  <script>
    function generateRandomInput() {
      //For text Inputs
      document.querySelectorAll('input[type="text"]').forEach(function(input) {
        //random value generation based on the input name and random relation status
        input.value = generateRandomValue(input.name, randomRelationship);
      });

      // For the specific select input of Sex and Relationship Status
      var relationship = document.querySelector('select[name="Sex and Relationship Status"]');
      if (relationship) {
        // Generate a random index for the select element
        var randomRelationship = Math.floor(Math.random() * relationship.options.length); // Random int value between 0 and 3
        // Set the selected index for the select element
        relationship.selectedIndex = randomRelationship;
      }
    }

    function generateRandomValue(inputName, randomRelationship) {
      // Customized logic based on input name
      if (inputName === 'Status checking') {
        return Math.floor(Math.random() * 4);       // Random int value between 0 and 3

      } else if (inputName === 'Duration in month') {
        return Math.floor(Math.random() * 60) + 1;  // Random int value between 1 and 60

      } else if (inputName === 'Credit history') {
        return Math.floor(Math.random() * 5);       // Random int value between 0 and 4

      } else if (inputName === 'Credit amount') {
        return Math.floor(Math.random() * 20001);   // Random int value between 0 and 20,000

      } else if (inputName === 'Savings account') {
        return Math.floor(Math.random() * 5);       // Random int value between 0 and 4

      } else if (inputName === 'Present employment') {
        return Math.floor(Math.random() * 5);       // Random int value between 0 and 4

      } else if (inputName === 'Installment rate %') {
        return Math.floor(Math.random() * 4) + 1;   // Random int value between 1 and 4

      } else if (inputName === 'Other debtors') {
        return Math.floor(Math.random() * 3);       // Random int value between 0 and 2

      } else if (inputName === 'Present residence') {
        return Math.floor(Math.random() * 4) + 1;   // Random int value between 1 and 4

      } else if (inputName === 'Property') {
        return Math.floor(Math.random() * 4);       // Random int value between 0 and 3

      } else if (inputName === 'Age in years') {
        return Math.floor(Math.random() * 63) + 18; // Random int value between 18 and 80

      } else if (inputName === 'Other installment plans') {
        return Math.floor(Math.random() * 3);       // Random int value between 0 and 2

      } else if (inputName === 'Housing') {
        return Math.floor(Math.random() * 3);       // Random int value between 0 and 2

      } else if (inputName === '# Existing credits') {
        return Math.floor(Math.random() * 5);       // Random int value between 0 and 4

      } else if (inputName === 'Job') {
        return Math.floor(Math.random() * 4);       // Random int value between 0 and 3

      } else if (inputName === '# Dependents') {
        return Math.floor(Math.random() * 4);       // Random int value between 0 and 3

      } else if (inputName === 'Telephone') {
        return Math.floor(Math.random() * 2);       // Random int value between 0 and 1

      } else if (inputName === 'Foreign worker') {
        return Math.floor(Math.random() * 2);       // Random int value between 0 and 1    
      } else {
        // Default random value
        return 0;
      }
    }
 </script>
</body>
</html>