<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="login">
    <h1>German Credit Risk Prediction</h1>

      <!-- Main Input For Receiving Query to our ML -->
      <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="Status checking" placeholder="Status checking" required="required" />
        <input type="text" name="Duration in month" placeholder="Duration in month" required="required" />
        <input type="text" name="Credit history" placeholder="Credit history" required="required" />
        <input type="text" name="Credit amount" placeholder="Credit amount" required="required" />
        <input type="text" name="Savings account" placeholder="Savings account" required="required" />
        <input type="text" name="Present employment" placeholder="Present employment" required="required" />
        <input type="text" name="Installment rate %" placeholder="Installment rate %" required="required" />
        <input type="text" name="Other debtors" placeholder="Other debtors" required="required" />
        <input type="text" name="Present residence" placeholder="Present residence" required="required" />
        <input type="text" name="Property" placeholder="Property" required="required" />
        <input type="text" name="Age in years" placeholder="Age in years" required="required" />
        <input type="text" name="Other installment plans" placeholder="Other installment plans" required="required" />
        <input type="text" name="Housing" placeholder="Housing" required="required" />
        <input type="text" name="# Existing credits" placeholder="# Existing credits" required="required" />
        <input type="text" name="Job" placeholder="Job" required="required" />
        <input type="text" name="# Dependents" placeholder="# Dependents" required="required" />
        <input type="text" name="Telephone" placeholder="Telephone" required="required" />
        <input type="text" name="Foreign worker" placeholder="Foreign worker" required="required" />
        <input type="text" name="Male div" placeholder="Male div" required="required" />
        <input type="text" name="Female div/mar" placeholder="Female div/mar" required="required" />
        <input type="text" name="Male sing" placeholder="Male sing" required="required" />
        <input type="text" name="Male mar/wid" placeholder="Male mar/wid" required="required" />

        <!-- Button to generate random input -->
        <button type="button" onclick="generateRandomInput()">Generate Random Input</button>

        
        <br>
        <br>
        <!-- Dropdown menu for selecting the model -->
        <select name="selected_model" required="required">
          {% for model in models %}
            <option value="{{ model }}">{{ model }}</option>
          {% endfor %}
        </select>

        <!-- Dropdown menu for selecting the classifier type -->
        <select name="selected_cls" required="required">
          <option value="Logistic Regression">Logistic Regression</option>
          <option value="Random Forest">Random Forest</option>
          <option value="Neural Network">Neural Network</option>
        </select>
        
        <!-- Button to submit input and get prediction -->
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
      </form>
    <br>
    <br>
    {{ prediction_text }}
  </div>

  <script>
    function generateRandomInput() {
      var randomRelationship = Math.floor(Math.random() * 4); // Random int value between 0 and 3

      document.querySelectorAll('input[type="text"]').forEach(function(input) {
        //random value generation based on the input name and random relation status
        input.value = generateRandomValue(input.name, randomRelationship);
      });
    }

    function generateRandomValue(inputName, randomRelationship) {
      // Customized logic based on input name
      if (inputName === 'Status checking') {
        return Math.floor(Math.random() * 4);       // Random int value between 0 and 3

      } else if (inputName === 'Duration in month') {
        return Math.floor(Math.random() * 60) + 1;  // Random int value between 1 and 60

      } else if (inputName === 'Credit history') {
        return Math.floor(Math.random() * 5);       // Random int value between 0 and 4

      } else if (inputName === 'Credit amount') {
        return Math.floor(Math.random() * 20001);   // Random int value between 0 and 20,000

      } else if (inputName === 'Savings account') {
        return Math.floor(Math.random() * 5);       // Random int value between 0 and 4

      } else if (inputName === 'Present employment') {
        return Math.floor(Math.random() * 5);       // Random int value between 0 and 4

      } else if (inputName === 'Installment rate %') {
        return Math.floor(Math.random() * 4) + 1;   // Random int value between 1 and 4

      } else if (inputName === 'Other debtors') {
        return Math.floor(Math.random() * 3);       // Random int value between 0 and 2

      } else if (inputName === 'Present residence') {
        return Math.floor(Math.random() * 4) + 1;   // Random int value between 1 and 4

      } else if (inputName === 'Property') {
        return Math.floor(Math.random() * 4);       // Random int value between 0 and 3

      } else if (inputName === 'Age in years') {
        return Math.floor(Math.random() * 63) + 18; // Random int value between 18 and 80

      } else if (inputName === 'Other installment plans') {
        return Math.floor(Math.random() * 3);       // Random int value between 0 and 2

      } else if (inputName === 'Housing') {
        return Math.floor(Math.random() * 3);       // Random int value between 0 and 2

      } else if (inputName === '# Existing credits') {
        return Math.floor(Math.random() * 5);       // Random int value between 0 and 4

      } else if (inputName === 'Job') {
        return Math.floor(Math.random() * 4);       // Random int value between 0 and 3

      } else if (inputName === '# Dependents') {
        return Math.floor(Math.random() * 4);       // Random int value between 0 and 3

      } else if (inputName === 'Telephone') {
        return Math.floor(Math.random() * 2);       // Random int value between 0 and 1

      } else if (inputName === 'Foreign worker') {
        return Math.floor(Math.random() * 2);       // Random int value between 0 and 1
      
      // Randomly assign 1 to 1 one of the relationship status features
      } else if (inputName === 'Male div' && randomRelationship === 0) {
        return 1;
      } else if (inputName === 'Female div/mar' && randomRelationship === 1) {
        return 1;     
      } else if (inputName === 'Male sing' && randomRelationship === 2) {
        return 1;
      } else if (inputName === 'Male mar/wid' && randomRelationship === 3) {
        return 1;       
      } else {
        // Default random value
        return 0;
      }
    }
 </script>
</body>
</html>